# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python caches
.pytest_cache/
.mypy_cache/
.coverage

# Build artifacts
build/
dist/
*.egg-info/

# Database files
*.db
*.sqlite3

# GTFS datasets
data/railways/
data/andhra/
data/bangalore/
data/delhi/
data/kochi/
data/mumbai/

# Keep data folder
!data/
!data/.gitkeep